body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #090909;
    color: white;
    text-align: center;
    padding: 1em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0.05;
    font-size: 2.5em;
}

header h2 {
    margin: 0.05em 0 0;
    font-weight: normal;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 1;
    background-color: #131313;
    margin: 1;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #0f1010;
    border-radius: 4px;
}

section {
    margin: 2em 1em;
    padding: 1em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

h3 {
    border-bottom: 2px solid #040404;
    padding-bottom: 0.5em;
    color: #101010;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5em 0;
}

input, textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5em;
    background-color: #0e0e0e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #1d1e1e;
}

footer {
    background-color: #070707;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
section {
    padding: 4em 1em 2em; /* Add extra padding at the top to avoid overlap */
    margin-top: -3em; /* Negative margin to pull the section up */
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}
